li {
    display: inline-block; /* inline-block permite ajustar el tamaño del li */
    margin-right: 20px; /* Espacio entre los ítems */
}

img {
    height: 50px; /* Ajusta según tus necesidades */
    width: auto; /* Mantiene la proporción de la imagen */
}

a {
    display: inline-block; 
    text-align: center; 
    text-decoration: none; 
    color: #000;
}

a p {
    margin: 0; 
    font-weight: bold;
}