 header{
    height: 10%;
    display: grid;
    grid-template-areas: "logo buscador usuario carrito"
                            "menuu menuu contacto contacto" ;
    grid-template-columns: 2fr 4fr 2fr 2fr;
    grid-template-rows: 3fr 1fr;
   
 }
 .logo{

   grid-area: logo;

   justify-self: center;
 }
 .buscador{
   grid-area: buscador;

   align-content:center;
   margin: 0;
   padding: 0;
 }

 .form-buscador{
   min-width: 200px;
   border: green 1px solid;
   height: 30%;
   display: flex;
   flex-wrap: nowrap;
   justify-items: flex-end;

   
 }
 #input-buscador{
  height: auto;
   padding: 0;
   margin: 0;
   width: 90%;
   border: none;
   padding-block: 0;
   padding-inline: 0;
   
 }
 #boton-buscar{
  
width:10%;
height: auto;
border: none;
color:white;
background-color: green;
 }
.usuario{

   grid-area: usuario;
   display: flex;
   justify-content: center;
   align-self: center;   

} 
.iconoUsuario{
   color: gray;
   align-self: center;
}
.letreroUsuario{
   color: gray;
   margin-left: 5px;
   margin-right: 5px;
}
.fa-solid {
   color: gray;
   align-self: center;
}
.carrito{
   grid-area: carrito;
   justify-self: center;
   align-self: center;
}
.menu{
    grid-area: menuu ;
    display:inline;

}
.contacto{
   grid-area: contacto;
   background-color: bisque;
}
.listaMenu{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   background-color: bisque;
   align-content: space-around;
   justify-content: space-around;

}
.iconoMenu{
   display: none;
}