/* Para pantallas más grandes, como escritorios */

    #menu ul li {
        margin: 0 25px;
    }

    #contenido {
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    .contenido-principal {
        flex: 0 1 70%;
        padding: 30px;
    }    
  
